/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media only screen and (max-width:900px) { 
    body {
        margin: 1.5em;
    }

    section p {
        font-size: 2.5rem;
    }

    main section#description p {
        font-size: 1.5rem;
        line-height: 2rem;
        /*letter-spacing: 0.04em;*/
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 3em 0 0 6em;*/
    /*padding: 3em 0 0 6em;*/
    margin: 0;
    font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #febf3f;
}

#container {
    margin: 1.5em 0 0 6em;
}

header {
    /*max-width: 800px;*/
    padding-top: 1em;
    display: inline-block;
    /*float: left;*/
}

header p {
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 500;
}

@media only screen and (max-width:900px) { 
    #container {
        margin: 1.5em 1.5em 0 1.5em;
    }

    header {
        padding-top: 1em;
    }
}

nav.mobile {
    /*float: left;*/
    /*display: inline-block;*/
    /*padding: 1em 0 0 10em;*/
    /*vertical-align: top;*/
    position: absolute;
    top: 27px;
    right: 15px;
    z-index: 200;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter, background-color;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 1; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #FFF;
  }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px;}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg)}
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0}
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg)}

.hamburger:focus { outline: 0; }
@media only screen and (min-width:767px) {
    .hamburger {
        display: none;
    }
}

/* https://tympanus.net/Development/FullscreenOverlayStyles/index.html */
/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: rgba(153,204,51,0.9);*/
    background: rgba(0,0,0,0.9);
    z-index: 10;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

.overlay .header {
    color: #FFF;
    margin: 40px 24px 0 24px;
}
.overlay .header h1 {
    display: block;
}
.overlay .header p {
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 500;
}

/* Menu style */
.overlay nav {
    text-align: center;
    position: relative;
    top: 37%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 16.7%;
    height: calc(100% / 6);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

h1 {
    /*font-family: neue-haas-grotesk-text, sans-serif;*/
    /*display: inline-block;*/
    width: auto;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    /*letter-spacing: 0.01em;*/
}
@media only screen and (min-width:767px) {
    h1 {
        display: block;
        font-size: 7vw;
        line-height: 0.8em;
    }
}

main {
    padding-top: 3em;
    max-width: 900px;
/*    padding-bottom: 2rem;
    margin-bottom: 1rem;*/
}

main p {
    /*font-family: freight-display-pro, sans-serif;*/
    /*font-family: neue-haas-grotesk-text, Helvetica, Arial, sans-serif;*/
    /*font-family: urw-din-semi-condensed, sans-serif;*/
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

section#intro {
    /*position: relative;*/
    color: #ffffff;
    padding-bottom: 2em;
    /*z-index: 1;*/
}
section#intro p {
    padding-bottom: 0;
}
section#intro p.underline {
    font-size: 9.6em;
    line-height: 0.9em;
}
@media only screen and (max-width:400px) {
    section#intro p {
        font-size: 2.3em;
    }
    section#intro p.underline {
        font-size: 3.8em;
        line-height: 0.8em;
    }
}
@media only screen and (min-width: 350px) and (max-width:900px) { 
    section#intro p {
        font-size: 3.2em;
        font-weight: 100;
    }
    section#intro p.underline {
        font-size: 4.8em;
        line-height: 0.85em;
        font-weight: 700;
    }
}

section#description p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #000;
    /*letter-spacing: 0.025em;*/
}

section#contact {
    font-weight: 600;
    margin-bottom: 2em;
}
section#contact h2 {
    font-size: 2.5em;
    font-weight: 700;
}
section#contact .location {
    margin-top: 1em;
} 
section#contact .office {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-right: 0.5em;
    /*font-weight: 700;*/
}
section#contact a, footer a {
    text-decoration: none;
    color: black;
    /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    /* ...and now for the proper property */
    transition: color 0.4s;
    /*transition-property: color;*/
    /*transition-timing-function: ease;*/
    transition-delay: 0s;
}
section#contact a:hover , footer a {
  color: rgba(0, 0, 0, 0.5);
}
section#contact a.mail {
    border-bottom: gray 5px dotted;
}
section#contact ul {
    /*margin: 0 0 1em 0;*/
    display: inline-block;
}
section#contact ul li {
    font-size: 1.3em;
    line-height: 1.3em;
    letter-spacing: 0.005em;
}

aside#impress {
    margin-bottom: 2em;
    max-width: 100rem;
}
aside#impress h2, h3 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 0.5em 0 0.5em 0;
}
aside#impress h4 {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em 0 0.5em 0;
}
aside#impress p {
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 0.025em;
}
aside#impress div.segment {
    margin: 1em 0 1em 0;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
footer {
    margin-top: auto;
    background-color: #efefef;
    /* The following fixes a small 1px border on the bottom */
    line-height: initial;
    font-weight: 600;
}

footer p {
    letter-spacing: 0.025em;
}

@media only screen and (max-width:900px) { 
    footer {
        padding: 0.5em 0 0.5em 1.5em;
    }
}
@media only screen and (min-width:900px) { 
    footer {
        padding: 0.5em 0 0.5em 6em;
    }
}

#intro {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}